.card-wrapper {
  position: relative;
  width: 225px;
  height: 225px;

  background-color: #eeeeee;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s ease;
}


.card-wrapper:hover {
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.18), 0 6px 5px rgba(0, 0, 0, 0.24);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-button {
  position: absolute;
  bottom: 24px;
  right: 23px;
  
  visibility: hidden;
  background: none;
  cursor: pointer;
}

.card-wrapper:hover .favorite-button {
  visibility: visible;
}
