:root {
  --card-width: 225px;
  --card-height: 225px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  padding: 0 62px;

  background-color: #2196F3;
  box-shadow: 0 4px 4px rgba(0,0,0,0.24);
}

a.nav-link {
  display: inline-block;
  padding: 23px;

  color: #FFFFFF;

  background-color: #2196F3;
  cursor: pointer;
}

a.nav-link.active {
  background-color: #1E88E5;
}

main {
  padding: 52px 60px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  justify-content: space-between;

}


/* h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
