@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

a.nav-link {
  display: inline-block;
  padding: 23px;

  color: #FFFFFF;
  font-size: 14px;

  background-color: #2196F3;
  cursor: pointer;
}

a.nav-link.active {
  background-color: #1E88E5;
}


button {
  border: none;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  padding: 0 62px;

  background-color: #2196F3;
  box-shadow: 0 4px 4px rgba(0,0,0,0.24);
}

main {
  padding: 52px 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  justify-content: space-between;

}
